/*
 * Copyright (c) 2025 Synaptics Incorporated
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <mem.h>
#include <freq.h>
#include <arm/armv8.1-m.dtsi>
#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/i2c/i2c.h>
#include <zephyr/dt-bindings/clock/syna_sr100_clock.h>
#include <zephyr/dt-bindings/reset/syna_sr100_reset.h>
#include <zephyr/dt-bindings/memory-attr/memory-attr-arm.h>

/ {
	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			compatible = "arm,cortex-m55";
			device_type = "cpu";
			reg = <0>;
			clock-frequency = <400000000>;
			#address-cells = <1>;
			#size-cells = <1>;

			mpu: mpu@e000ed90 {
				compatible = "arm,armv8.1m-mpu";
				reg = <0xe000ed90 0x40>;
			};
		};
	};

	ethosu {
		#address-cells = <1>;
		#size-cells = <0>;
		interrupt-parent = <&nvic>;

		ethosu0: ethosu@50320000 {
			compatible = "arm,ethos-u";
			reg = <0x50320000>;
			fast-memory-region = <&ethosu_sram>;
			interrupts = <44 0>;
			secure-enable;
			privilege-enable;
			status = "okay";
		};
	};

	sram0: memory@33ea0000 {
		compatible = "mmio-sram";
		reg = <0x33ea0000 DT_SIZE_K(2879)>;
		#address-cells = <1>;
		#size-cells = <1>;
		ranges = <0x0 0x33ea0000 DT_SIZE_K(2879)>;
	};

	itcm0: memory@10000000 {
		compatible = "mmio-sram";
		reg = <0x10000000 DT_SIZE_K(128)>;
		#address-cells = <1>;
		#size-cells = <1>;
		ranges = <0x0 0x10000000 DT_SIZE_K(128)>;
	};

	xspi_stig: memory@3c000000 {
		compatible = "zephyr,memory-region";
		reg = <0x3c000000 DT_SIZE_K(4)>;
		zephyr,memory-region = "XSPI_STIG";
		zephyr,memory-attr = <DT_MEM_ARM_MPU_RAM_NOCACHE>;
	};

	ethosu_sram: memory@50320000 {
		compatible = "zephyr,memory-region";
		reg = <0x50320000 DT_SIZE_K(24)>;
		zephyr,memory-region = "ETHOSU SRAM";
		zephyr,memory-attr = <DT_MEM_ARM_MPU_RAM_NOCACHE>;
	};

	soc {
		gcr: clock-controller@50330700 { /* GLOBAL */
			reg = <0x50330700 0x100>;
			compatible = "syna,sr100-clock";
			#clock-cells = <1>;
			status = "okay";
		};

		reset: reset-controller@50330600 { /* GLOBAL */
			reg = <0x50330600 0x100>;
			compatible = "syna,sr100-reset";
			#reset-cells = <1>;
			status = "okay";
		};

		dma0: dma@50322000 {
			compatible = "arm,dma-350";
			reg = <0x50322000 0x2000>;
			interrupts = <33 0>, <34 0>, <35 0>, <36 0>,
				     <37 0>, <38 0>, <39 0>, <40 0>;
				     /* Combined NoSec: 41 */
				     /* Combined Sec: 42 */
				     /* Sec Violation Err: 43 */
			clocks = <&gcr SYNA_DMA0_CLK>;
			resets = <&reset SYNA_DMA0_RST>;
			perif-channel = <2>;
			#dma-cells = <1>;
			status = "disabled";
		};

		dma1: dma@50324000 {
			compatible = "arm,dma-350";
			reg = <0x50324000 0x2000>;
			interrupts = <66 0>, <67 0>, <68 0>, <69 0>,
				     <70 0>, <71 0>, <72 0>, <73 0>;
				     /* Combined NoSec: 74 */
				     /* Combined Sec: 75 */
				     /* Sec Violation Err: 76 */
			clocks = <&gcr SYNA_DMA1_CLK>;
			resets = <&reset SYNA_DMA1_RST>;
			perif-channel = <2>;
			#dma-cells = <1>;
			status = "disabled";
		};

		ns16550_uart0: uart@50317000 {
			compatible = "ns16550";
			reg = <0x50317000 0x1000>;
			current-speed = <115200>;
			interrupts = <57 0>;
			reg-shift = <2>;
			clocks = <&gcr SYNA_UART0_CLK>;
			resets = <&reset SYNA_UART0_RST>;
			status = "disabled";
		};

		ns16550_uart1: uart@50318000 {
			compatible = "ns16550";
			reg = <0x50318000 0x1000>;
			current-speed = <115200>;
			interrupts = <58 0>;
			reg-shift = <2>;
			clocks = <&gcr SYNA_UART1_CLK>;
			resets = <&reset SYNA_UART1_RST>;
			status = "disabled";
		};

		ns16550_lp_uart: uart@b5000000 {
			compatible = "ns16550";
			reg = <0xb5000000 0x1000>;
			current-speed = <115200>;
			clock-frequency = <DT_FREQ_M(100)>;
			interrupts = <81 0>;
			reg-shift = <2>;
			status = "disabled";
		};

		i2c0: i2c@50312000 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "snps,designware-i2c";
			clocks = <&gcr SYNA_I2C0_MSTR_CLK>;
			clock-frequency = <I2C_BITRATE_STANDARD>;
			resets = <&reset SYNA_I2C0M_RST>;
			reg = <0x50312000 0x1000>;
			interrupts = <52 0>;
			status = "disabled";
		};

		i2c1: i2c@50313000 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "snps,designware-i2c";
			clocks = <&gcr SYNA_I2C1_MSTR_CLK>;
			clock-frequency = <I2C_BITRATE_STANDARD>;
			resets = <&reset SYNA_I2C1M_RST>;
			reg = <0x50313000 0x1000>;
			interrupts = <53 0>;
			status = "disabled";
		};

		i2c2: i2c@50314000 { /* I2C slave */
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "snps,designware-i2c";
			clocks = <&gcr SYNA_I2C_SLV_CLK>;
			clock-frequency = <I2C_BITRATE_STANDARD>;
			resets = <&reset SYNA_I2CS_RST>;
			reg = <0x50314000 0x1000>;
			interrupts = <54 0>;
			status = "disabled";
		};
		i3c0: i3c@50319000 {
			#address-cells = <3>;
			#size-cells = <0>;
			compatible = "snps,designware-i3c";
			clocks = <&gcr SYNA_I3C0_CLK>;
			// clock-frequency = <I2C_BITRATE_STANDARD>;
			// resets = <&reset SYNA_I3C0M_RST>;
			reg = <0x50319000 0x1000>;
			interrupts = <59 0>;
			status = "disabled";
		};

		i3c1: i3c@5031a000 {
			#address-cells = <3>;
			#size-cells = <0>;
			compatible = "snps,designware-i3c";
			clocks = <&gcr SYNA_I3C1_CLK>;
			// clock-frequency = <I2C_BITRATE_STANDARD>;
			// resets = <&reset SYNA_I3C1M_RST>;
			reg = <0x5031a000 0x1000>;
			interrupts = <60 0>;
			status = "disabled";
		};

		aon_event_gpio: gpio@50350060 {
			compatible = "syna,aon-event-gpio";
			reg = <0x50350060 0x4>;
			pinctrl-0 = <>;
			pinctrl-names = "default";
			status = "disabled";

			gpo0: gpo0 {
				event = <0>;
				pulse-width = <0>;
				polarity = <GPIO_ACTIVE_LOW>;
			};

			gpo1: gpo1 {
				event = <0>;
				pulse-width = <0>;
				polarity = <GPIO_ACTIVE_LOW>;
			};

			gpo2: gpo2 {
				event = <0>;
				pulse-width = <0>;
				polarity = <GPIO_ACTIVE_LOW>;
			};
		};

		gpioa: gpio@50306000 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "snps,designware-gpio";
			reg = <0x50306000 0x80>;
			interrupts = <50 2>;
			ngpios = <32>;
			gpio-controller;
			#gpio-cells = <2>;
			status = "disabled";
		};

		gpiob: gpio@50307000 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "snps,designware-gpio";
			reg = <0x50307000 0x80>;
			interrupts = <51 2>;
			ngpios = <32>;
			gpio-controller;
			#gpio-cells = <2>;
			status = "disabled";
		};

		spi0: spi@50315000 {
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "snps,designware-spi";
			clocks = <&gcr SYNA_SPI_MSTR_CLK>;
			reg = <0x50315000 0x88>;
			interrupts = <55 3>;
			fifo-depth = <8>;
			max-xfer-size = <32>;
			clock-frequency = <DT_FREQ_M(100)>;
			status = "disabled";
		};

		spi1: spi@50316000 { /* slave */
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "snps,designware-spi";
			clocks = <&gcr SYNA_SPI_SLV_CLK>;
			reg = <0x50316000 0x88>;
			interrupts = <56 3>;
			fifo-depth = <8>;
			max-xfer-size = <32>;
			clock-frequency = <DT_FREQ_M(200)>;
			status = "disabled";
		};

		sdhc0: sdhc@50110000 {
			compatible = "snps,mshc";
			reg = <0x50110000 0x1000>;
			interrupts = <61 0>;
			clocks = <&gcr SYNA_SD0_CLK>;
			resets = <&reset SYNA_SD0_RST>;
			status = "disabled";
		};

		wdog0: watchdog@50350038 {
			compatible = "syna,watchdog";
			reg = <0x50350038 0x4>,
			      <0x58040000 0x1000>,
			      <0x58041000 0x1000>,
			      <0x58100000 0x50>;
			reg-names = "aon_por_rst", "wdt_ctrl", "wdt_ref", "syscount";
			clock-frequency = <DT_FREQ_M(24)>;
			interrupts = <1 0>;
			status = "disabled";
		};

		sdhc1: sdhc@50111000 {
			compatible = "snps,mshc";
			reg = <0x50111000 0x1000>;
			interrupts = <62 0>;
			clocks = <&gcr SYNA_SD1_CLK>;
			resets = <&reset SYNA_SD1_RST>;
			status = "disabled";
		};

		xspi: flash-controller@5031b000 {
			#address-cells = <0x1>;
			#size-cells = <0x0>;
			compatible = "cdns,xspi";
			reg = <0x5031b000 0x2000>,
			      <0x3c000000 0x4000000>;
			reg-names = "xspi_reg", "xspi_xip";
			interrupts = <49 0>;
			clocks = <&gcr SYNA_XSPI_CLK>;
			assigned-clock-rates = <DT_FREQ_M(133)>;
			resets = <&reset SYNA_XSPI_RST>;
			erase-block-size = <4096>;
			write-block-size = <1>;
			status = "disabled";
		};

		usb0: usb@50100000 {
			compatible = "snps,dwc2";
			reg = <0x50100000 0xffff>;
			interrupts = <48 0>;
			num-out-eps = <8>;
			num-in-eps = <8>;
			clocks = <&gcr SYNA_USB_CLK>;
			ghwcfg1 = <0x00000000>;
			ghwcfg2 = <0x02882054>; // 8 endpoints, dynamic sizing
			ghwcfg4 = <0xe2003e20>; // 9 in endpoints, desc-DMA
			status = "disabled";
		};

		hwinfo0: hwinfo@50330000 {
			compatible = "syna,sr100-hwinfo";
			reg = <0x50330000 0xc>, <0x50350c00 0x4>;
			reg-names = "global", "aon_por";
			status = "disabled";
		};
	};
};

&nvic {
	arm,num-irq-priority-bits = <3>;
};

&systick {
	status = "okay";
};
