# Copyright (c) 2026 Synaptics Incorporated
# SPDX-License-Identifier: Apache-2.0

config VIDEO_OV02C10
	bool "OmniVision OV02C10 camera sensor"
	default y
	depends on DT_HAS_OVTI_OV02C10_ENABLED
	depends on I2C
	depends on GPIO
	depends on PINCTRL
	help
	  Enable the OV02C10 video sensor driver.
