# Copyright (c) 2026 Synaptics Incorporated
# SPDX-License-Identifier: Apache-2.0

config ARM_SSE_TIMER
	bool "ARM SSE-IP timer"
	default y
	depends on DT_HAS_ARM_SSE_TIMER_ENABLED
	select TICKLESS_CAPABLE
	select TIMER_HAS_64BIT_CYCLE_COUNTER
	help
	  This module implements a device driver for the ARM SSE-IP timer
