# Copyright (c) 2026 Synaptics Incorporated
# SPDX-License-Identifier: Apache-2.0

config BOARD_SL2619_RDK
	select SOC_SL2619_A55 if BOARD_SL2619_RDK_SL2619_A55 || BOARD_SL2619_RDK_SL2619_A55_DDRLESS
	select SOC_SL2619_M52 if BOARD_SL2619_RDK_SL2619_M52

# Enlarge default networking stack
configdefault NET_L2_ETHERNET
	default y

configdefault NET_TX_STACK_SIZE
	default 8192

configdefault NET_RX_STACK_SIZE
	default 8192
