/*
 * Copyright (c) 2026 Synaptics Incorporated
 * Author: Jisheng Zhang <jszhang@kernel.org>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include "syna/sl2619_a55.dtsi"
#include <syna/astra_sl/sl261x/sl261x_pinctrl.dtsi>

/ {
	aliases {
		i2c-0 = &i2c0;
	};
};

&cpupll {
	dm = <1>;
	dn = <51>;
	frac = <0>;
	dp0 = <2>;
	dp1 = <3>;
};

&syspll0 {
	dm = <1>;
	dn = <42>;
	frac = <0>;
	dp0 = <3>;
	dp1 = <7>;
};

&syspll1 {
	dm = <1>;
	dn = <40>;
	frac = <0>;
	dp0 = <2>;
	dp1 = <5>;
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
};

&i2c0 {
	status = "okay";

	gpio_exp0: gpio@43 {
		compatible = "fcs,fxl6408";
		reg = <0x43>;
		gpio-controller;
		#gpio-cells = <2>;
	};

	gpio_exp1: gpio@44 {
		compatible = "fcs,fxl6408";
		reg = <0x44>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};

&usb_phy0 {
	status = "okay";
};

zephyr_udc0: &usb0 {
	status = "okay";
};
