# Copyright (c) 2026 Synaptics Incorporated
# SPDX-License-Identifier: Apache-2.0

config SOC_SL2619_A55
	select ARM64
	select ARM_ARCH_TIMER
	select CACHE_MANAGEMENT
	select CPU_CORTEX_A55

config SOC_SL2619_M52
	select ARM
	select ARM_MPU
	select ARMV8_M_DSP
	select ARMV8_1_M_MVEI
	select ARMV8_1_M_MVEF
	select CPU_CORTEX_M52
	select CLOCK_CONTROL
	select CPU_CORTEX_M_HAS_SYSTICK if CPU_CORTEX_M
	select CPU_CORTEX_M_HAS_DWT if CPU_CORTEX_M
	select CPU_HAS_ARM_MPU
	select CPU_HAS_ARM_SAU
	select CPU_HAS_DCACHE
	select CPU_HAS_ICACHE
	select HAS_CMSIS_CORE
	select SOC_EARLY_INIT_HOOK
	select RESET
	select SOC_PREP_HOOK
