# Copyright (c) 2025 Synaptics, Inc.
# SPDX-License-Identifier: Apache-2.0

#
# Clock controller drivers
#

if CLOCK_CONTROL

rsource "Kconfig.syna_sr100"
rsource "Kconfig.syna_sl261x"

endif # CLOCK_CONTROL
