# Copyright (c) 2026 Synaptics Incorporated
# SPDX-License-Identifier: Apache-2.0

#
# Clock controller drivers
#

if CLOCK_CONTROL

rsource "Kconfig.syna_sl"
rsource "Kconfig.syna_sl261x"

endif # CLOCK_CONTROL
