# Copyright (c) 2026 Synaptics Incorporated
# SPDX-License-Identifier: Apache-2.0

config ARM_SAU
	bool "Armv8-M Security Attribution Unit init"
	depends on ARM
	help
	  Configure Cortex-M SAU regions from devicetree.