# Copyright (c) 2026 Synaptics Incorporated
# SPDX-License-Identifier: Apache-2.0

menu "Arm TrustZone security attribution drivers"

rsource "Kconfig.sau"
rsource "Kconfig.mpc_sie300"
rsource "Kconfig.ppc"
rsource "Kconfig.tgu"

config ARM_SECURITY_ATTRIBUTION
	bool
	default y if ARM_SAU || ARM_MPC_SIE300 || ARM_PPC || ARM_TGU_ARMV8_M

config ARM_SECURITY_INIT_PRIORITY
	int "Arm security attribution init priority"
	default 20
	depends on ARM_SECURITY_ATTRIBUTION

endmenu