# Copyright (c) 2026 Synaptics Incorporated
# SPDX-License-Identifier: Apache-2.0

config ARM_TGU_ARMV8_M
	bool "Armv8-M TCM Gating Unit"
	depends on ARM
	help
	  Optional TGU support for ITCM/DTCM attribution.