# Copyright (c) 2026 Synaptics Incorporated
# SPDX-License-Identifier: Apache-2.0

config ARM_PPC
	bool "Arm TrustZone Peripheral Protection Controller"
	depends on ARM
	help
	  Generic Arm PPC driver.