# Copyright (c) 2025 Synaptics Incorporated
# SPDX-License-Identifier: Apache-2.0

menu "Device Drivers"

# zephyr-keep-sorted-start
rsource "cache/Kconfig"
rsource "clock_control/Kconfig"
rsource "dma/Kconfig"
rsource "flash/Kconfig"
rsource "hwinfo/Kconfig"
rsource "misc/Kconfig"
rsource "pinctrl/Kconfig"
rsource "reset/Kconfig"
rsource "sdhc/Kconfig"
rsource "usb/Kconfig"
rsource "video/Kconfig"
rsource "watchdog/Kconfig"
# zephyr-keep-sorted-stop

endmenu
