# ARM CMSDK (Cortex-M System Design Kit) WDOG cfg

# Copyright (c) 2026 Synaptics Incorporated
# SPDX-License-Identifier: Apache-2.0

config WDOG_CMSDK_SYNA
	bool "CMSDK Watchdog Driver for ARM family of MCUs"
	default n
	depends on DT_HAS_ARM_CMSDK_SYNA_WATCHDOG_ENABLED
	select HAS_WDT_MULTISTAGE
	select WDT_MULTISTAGE
	select FLIGHT_CONTROL
	help
	  Enable CMSDK Watchdog (WDOG_CORSTONE_SYNA) Driver for ARM
	  family of MCUs.
