# Watchdog configuration options

# Copyright (c) 2026 Synaptics Incorporated
# SPDX-License-Identifier: Apache-2.0

if WATCHDOG

rsource "Kconfig.arm_apb"
rsource "Kconfig.syna"
rsource "Kconfig.cmsdk_syna"
rsource "Kconfig.corstone"

endif # WATCHDOG
