# Copyright (c) 2025 Synaptics, Inc.
# SPDX-License-Identifier: Apache-2.0

config FLASH_CAD_XSPI
	bool "Cadence Quad XPI Flash driver"
	default y
	depends on DT_HAS_CDNS_XSPI_ENABLED
	select FLASH_HAS_PAGE_LAYOUT
	select FLASH_HAS_DRIVER_ENABLED
	select FLASH_HAS_EXPLICIT_ERASE
	select FLASH_JESD216
	select PINCTRL
	help
	  Enable Cadence XSPI support.
