#include <zephyr/dt-bindings/dma/syna_sl261x_dma.h>

/ {
	aliases {
		dma0 = &dma1;
		uart0 = &ns16550_uart0;
	};
};

&ns16550_uart0 {
	dmas = <&dma1 DMA_SYNA_TRIG_UART0_RX>,
	       <&dma1 DMA_SYNA_TRIG_UART0_TX>;
	dma-names = "rx", "tx";
};

&dma1 {
	status = "okay";
};
