#include <zephyr/dt-bindings/dma/syna_sr100_dma.h>

/ {
	chosen {
		zephyr,console = &ns16550_uart0;
		zephyr,shell-uart = &ns16550_uart0;
	};

	aliases {
		dma0 = &dma0;
		uart0 = &ns16550_uart0;
		spi0 = &spi0;
		spi1 = &spi1;
	};
};

&ns16550_uart0 {
	pinctrl-0 = <&uart0_tx_c &uart0_rx_c>;
	pinctrl-names = "default";
	current-speed = <230400>;
	dlf = <2>;
	dmas = <&dma0 DMA_SYNA_TRIG_UART_0_RX>,
	       <&dma0 DMA_SYNA_TRIG_UART_0_TX>;
	dma-names = "rx", "tx";
	status = "okay";
};

&ns16550_uart1 {
	status = "disabled";
};

&spi0 {
	/* Note that the default pinmux configuration for this board uses GP23/GP24
	 * for UART1_TX/UART1_RX respectively, which conflicts with the
	 * spi_mstr_mosi/spi_mstr_miso muxes.
	 */
	pinctrl-0 = <&spi_mstr_mosi &spi_mstr_miso &spi_mstr_clk &spi_mstr_cs>;
	pinctrl-names = "default";
	dmas = <&dma0 DMA_SYNA_TRIG_SPI_M_RX>,
	       <&dma0 DMA_SYNA_TRIG_SPI_M_TX>;
	dma-names = "rx", "tx";
	status = "okay";
};

&spi1 {
	pinctrl-0 = <&spi_slv_mosi_b &spi_slv_miso_b &spi_slv_clk_b &spi_slv_cs_b>;
	pinctrl-names = "default";
	dmas = <&dma0 DMA_SYNA_TRIG_SPI_S_RX>,
	       <&dma0 DMA_SYNA_TRIG_SPI_S_TX>;
	dma-names = "rx", "tx";
	serial-target;
	status = "okay";
};

&dma0 {
	status = "okay";
};
