# Copyright (c) 2026 Synaptics Incorporated
# SPDX-License-Identifier: Apache-2.0

config RESET_SYNA_SL
	bool "Synaptics SL family SoCs ACPU domain reset driver"
	default y
	depends on DT_HAS_SYNA_SL_RESET_ENABLED
	help
	  This option enables the ACPU domain reset driver for Synaptics SL family SoCs.
