# Copyright (c) 2026 Synaptics Incorporated
# SPDX-License-Identifier: Apache-2.0

if RESET

# zephyr-keep-sorted-start
rsource "Kconfig.syna_srw1500"
rsource "Kconfig.syna_sl"
rsource "Kconfig.syna_sl261x"
# zephyr-keep-sorted-stop

endif # RESET
